<head>
        <link rel="stylesheet" href="/ngApp/views/about.css">
</head>


<h2><i>About Us</i></h2>

<div class="about">
<h3>Background</h3>
<p>
    Our website was founded by three students in a coding class in 2017. We sell cars, lots of cars, the best cars you've ever seen.
    Ever since our founding, we've dedicated ourselves to honorable and honest policies, something you can't find anywhere else. We will NEVER
    rip you off, leave you with a lemon, or desert you when you need us most. We're situated in Arizona and our company is dedicated to providing you with the best cars ever!
</p>
<h3>Our Policy</h3>
<p>
    Here at our car company, we prioritize providing you with the best customer service ever. Pls buy from us we really need the money.
</p>

</div>



